<div class="row">
  <div class="col-md-12">
    <div class="media">
      <div class="media-body">
        <br>
        <h2 class="media-heading"><%= current_user.name.capitalize %></h2>
        <h4><%= current_user.role.upcase %></h4>
        <small>Member since <%= current_user.created_at %></small>
        <br>
      </div>
      </div>
    </div>
  </div>
</div>