<div class="col-md-8 col-md-offset-2">
  <h2>Blocipedia: Social, Markdown Wikis</h2>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <h3>Create and share Markdown Wikis</h3>
      <small>Even better than wikipedia!</small>
      
      <% if current_user %>
        <p><%= link_to "Check out some wikis!", wikis_path %></p>
      <% else %>
        <p class="sign-in-up">
          <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
          <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
        </p>
      <% end %>
      
      <div class = "row row-bottom">
        
        <% if current_user && (current_user.role != 'premium')%>
          <div class="col-md-12 text-center">
              <small>Click here to create your own private wikis!</small>
              <div><%= link_to "Premium Plan",  new_charge_path , class: 'btn btn-primary btn'%>
              </div>
          </div>
        <% end %>
      
      </div>
    </div>
  </div>
</div>