<h1><%=@wiki.title %></h1>
<p><%= markdown_to_html(@wiki.body) %></p>

<% if @wiki.user_id == current_user.id %>
  <div class="col-sm-3">
    <div class="list-group">
      <div class="list-group-item">  
        <%= link_to "add collaborator", wiki_collaborators_path(@wiki) %>
      </div>
    </div>
  </div>

<% end %>